.main{
    font-size: 25px;
    font-weight: 400;
    width: 700px;
    padding: 10px 5px 10px 10px;
    border-radius: 7px;
   
}
.xearth{
    text-align: center;
    margin-top: 80px;
}
.add{
    font-size: larger;
    background-color: white;
    border-radius: 20px;
    padding: 10px 40px 10px 40px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 50px;
}
.mila{
    height: 50px;
    width: 1000px;
    margin: auto;
    margin-top: 50px;

    
}
.qala{
    
    font-size: larger;
    font-weight: 500;
    border-radius: 20px;
    padding: 7px 25px 7px 25px;
    background-color: darkseagreen;
    cursor: pointer;
    
    
    
    
}
.lala{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: solid rgba(0, 0, 0, 0.795) 2px;
    border-radius: 10px;
}
.delete{
    font-size: larger;
    font-weight: 500;
    border-radius: 20px;
    padding: 7px 25px 7px 25px;
    background-color: azure;
    margin-left: 20px;
    cursor: pointer;
}
.future{
    font-size: larger;
    margin: auto 0px auto 10px;
}